@tailwind base;

@tailwind components;

@tailwind utilities;

.theme-light {
  --bg-background-primary: #edf2f7;
  --bg-background-secondary: #ffff;
  --bg-background-tertiary: #008dcd1a;
  --bg-background-quaternary: #4299e1;
  --bg-background-quinary: #4299e1;
  --bg-background-senary: #e2e8f0;

  --text-copy-primary: #2d3748;
  --text-copy-secondary: #4a5568;

  --border-border-color-primary: #edf2f7;
}
.theme-light .button-hover:hover {
  background: #e2e8f0;
}

.theme-dark {
  --bg-background-primary: #2b2b2b;
  --bg-background-secondary: #363636;
  --bg-background-tertiary: #008dcd1a;
  --bg-background-quaternary: #363636;
  --bg-background-quinary: #4299e1;
  --bg-background-senary: #2d3748;

  --text-copy-primary: #cbd5e0;
  --text-copy-secondary: #e2e8f0;

  --border-border-color-primary:  #2b2b2b;
}
.theme-dark .button-hover:hover {
  background: #2d3748;
}
